<div class="bg-light border-right" id="sidebar-wrapper">

  

    <form class="row g-3">

      <div class="col-md-4">
        <label for="inputrole" class="form-label">Select role <Sup>*</Sup></label>
        <select id="text" class="form-select">
          <option value=35>Tenant Admin</option>
          <option value=37>Manager</option>
        </select>
      </div>

      <div class="col-md-4">
        <label for="inputUser" class="form-label">User Name <Sup>*</Sup></label>
        <input type="text" class="form-control" id="username">
      </div>


      <div class="col-md-4">
        <label for="inputFirst" class="form-label">First Name<sup>*</sup></label>
        <input type="text" class="form-control" id="first_name">
      </div>
      <br>
      <br>

      <div class="col-md-4">
        <label for="inputLast" class="form-label">Last Name<sup>*</sup></label>
        <input type="text" class="form-control" id="last_name">
      </div>

      <div class="col-md-4">
        <label for="inputemail" class="form-label">Email<sup>*</sup></label>
        <input type="email" class="form-control" id="email">
      </div>

      
      <div class="col-md-4">
        <label for="inputPhone" class="form-label" placeholder="Enter Phone">Phone</label>
        <input type="text" class="form-control" id="phone">
      </div>
      


      
        <!-- <button type="submit" class="btn btn-primary"  (click)="createUser()">Submit</button> -->
        <button type="submit" class="btn btn-danger" >ADD NEW USER</button>


    </form>
  
</div>