mat-form-field {
    margin-right: 12px;
}

h1 {
    text-align: center;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
    font-family: Roboto, sans-serif;
}

#chart {
    max-width: 650px;
    margin: 35px auto;
}