<nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HOME</a>
        <a class="nav-item nav-link" routerLink="/user-list">Click To Start</a>
    </div>
</nav>

<router-outlet></router-outlet>
<!-- <div class="app-container bg-light">

    <div class="text-center mt-4">
        <h3>!!WELCOME!!</h3>
        <h3>Angular 11 - CRUD Example</h3>
        <h3>Press Start to start the service && Stop to Come back here</h3>
    </div>
</div> -->