<div class="bg-light border-right" id="sidebar-wrapper">

    <!-- <div class="list-group list-group-flush">
        <a routerLink="/main" class="list-group-item list-group-item-action bg-light"></a>



         <a href="#" class="list-group-item list-group-item-action bg-light">Reports</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">About Us</a> -->
    <!-- </div> -->

</div>

<div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <ul>
            <li>
                <div ngbDropdownMenu aria-labelledy="navbarDropdown1" class="dropdown-menu">
                    <a class="dropdown-item" ngbDropdownItem>Profile</a>
                    <a class="dropdown-item" ngbDropdownItem>Change Password</a>
                    <a class="dropdown-item" routerLink="home" ngbDropdownItem>Log Out</a>
                </div>

            </li>
        </ul>
    </nav>

    <div class="container-fluid">

        <div class="container-fluid">

            <button class="btn btn-primary mx-2 float-right" routerLink="/create-role">Create Role</button><br><br>
            <form action="#"><input type="text" class="form-control search-input form-rounded" id="text-search" name="text-search" [(ngModel)]="searchValue" placeholder="Search for user"></form>




            <br>
            <!-- <div id="tabs" class="float-right">
                <a><button type="button" class="btn btn-secondary mx-2" (click)="loadAll()">All</button></a>
                <a><button type="button" class="btn btn-success mx-2" (click)="loadData()">Active</button></a>
                <a><button type="button" class="btn btn-warning mx-2" (click)="loadInactive()">Inactive</button></a>
            </div> -->
            <br> <br>

        </div>


    </div>


    <br>
    <br>



    <table class="table table-striped">

        <thead>
            <tr style="font-size: medium;">
                <th>Name</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Edit</th>
                <th>Action</th>

            </tr>
        </thead>

        <tbody>
            <!-- <tr *ngFor="let user of data"> -->
            <tr *ngFor="let user of data | roleSearch: searchValue | paginate: { id: 'listing_pagination',
              itemsPerPage: 5,
              currentPage: page,
              totalItems: totalRecords }">

                <td>{{user.first_name}} {{user.last_name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <!-- <td>
                    <a class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-edit" (click)="editPage(user)"> Edit </span>
                    </a>
                </td> -->

                <td *ngIf="user.active==true">
                    <a (click)="editPage(user)"><img width="25px" style="margin-bottom:3px; margin-right:5px" alt="Edit Role" src="assets/images/edit.png" /></a>

                </td>
                <td *ngIf="user.active==false"><b>-</b></td>

                <td *ngIf="user.active==true"><button type="button" class="btn btn-danger" (click)="deactivateRole(user.id)">Delete</button></td>
                <!-- <td *ngIf="user.active==false"><button type="button" class="btn btn-danger" (click)="deactivateRole(user.id)">Activate</button></td> -->


                <!-- <td><button type="button" class="btn btn-danger" (click)="deleteuser(user.id)">Delete</button> -->

            </tr>

            <pagination-controls id="listing_pagination" (pageChange)="page = $event">
            </pagination-controls>


        </tbody>
    </table>



</div>