<h3>


    Create a new Role</h3>
<hr>


<div class="col-md-12 text-center">

    <form #roleForm="ngForm" ngNativeValidate (ngSubmit)="createRole()">
        <div class="form-group">


            <div class="row mx-auto">

                <div class="col-md-4">
                    <label for="role_id" class="form-label">Select role <Sup>*</Sup></label>
                    <select id="role_id" class="form-select" value="{{role}}">
                        <option value=35>Tenant Admin</option>
                        <option value=37>Manager</option>
                    </select>
                </div>



                <div class="row mx-auto">


                    <label class="col-form-label col-md-0" for="inputFirst">User Name: </label>

                    <input type="text" name="rname" id="username" class="form-control" placeholder="Enter User Name" required>



                    <label class="col-form-label col-md-0" for="rname">First Name: </label>

                    <input type="text" name="fname" id="first_name" class="form-control" placeholder="Enter first Name" required>



                    <label class="col-form-label col-md-0" for="rname">Last Name: </label>

                    <input type="text" name="lname" id="last_name" class="form-control" placeholder="Enter Last Name" required>



                    <label class="col-form-label col-md-0" for="rname">Email: </label>

                    <input type="email" name="email" id="email" class="form-control" placeholder="Enter email" required>




                    <label class="col-form-label col-md-0" for="rname">phone: </label>

                    <input type="text" name="phone" id="phone" class="form-control" placeholder="Enter phone number" required>







                    <button class="btn btn-success" type="submit">SUBMIT</button>



                </div>

            </div>
        </div>
    </form>





</div>